[Desktop Entry]
Version=0.-1.4
Encoding=UTF-8
Name=urk irc
Exec=urk
Icon=stock_help-chat
Type=Application
Categories=Application;Network;IRCClient
GenericName=IRC Client
Comment=Chat on IRC
