[Desktop Entry]
Version=0.-1.2
Encoding=UTF-8
Name=Urk IRC
Exec=urk
Icon=stock_help-chat
Type=Application
Categories=Application;Network;IRCClient
GenericName=IRC Client
Comment=Chat on IRC
